.note {
  background: rgba(44, 132, 250, 0.2);
  border-left: 4px solid #183385;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  padding: .8rem;
  font-size: .8em;
  margin: 20px; }
  .note::before {
    color: #183385;
    content: "NOTE";
    display: block;
    font-weight: bold;
    font-size: .75em;
    padding-bottom: .125rem; }

.warn {
  background: rgba(255, 235, 130, 0.2);
  border-left: 4px solid #e7af06;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  padding: .8rem;
  font-size: .8em;
  margin: 20px; }
  .warn::before {
    color: #e7af06;
    content: "WARNING";
    display: block;
    font-weight: bold;
    font-size: .75em;
    padding-bottom: .125rem; }

.danger {
  background: rgba(247, 126, 126, 0.2);
  border-left: 4px solid #dd2e2e;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  padding: .8rem;
  font-size: .8em;
  margin: 20px; }
  .danger::before {
    color: #dd2e2e;
    content: "DANGER";
    display: block;
    font-weight: bold;
    font-size: .75em;
    padding-bottom: .125rem; }

.prereq {
  background: rgba(65, 214, 147, 0.2);
  border-left: 4px solid #026e57;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  padding: .8rem;
  font-size: .8em;
  margin: 20px; }
  .prereq::before {
    color: #026e57;
    content: "PREREQUISITES";
    display: block;
    font-weight: bold;
    font-size: .75em;
    padding-bottom: .125rem; }
